<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title>TweetMine</title>

<link rel="stylesheet" href="/css/main.css" type="text/css" />

<script language="javascript" type="text/javascript">
function $(x) { return document.getElementById(x); }

</script>

{% block js %}
{% endblock %}

<script type="text/javascript" language="javascript" src="https://ajax.googleapis.com/ajax/libs/dojo/1.6/dojo/dojo.xd.js"></script>

</head>

<body>

<header>
	<hgroup>
		<h1>TweetMine</h1>
		<h2>A Twitter Mining application by Gwyn Howell</h2>
	</hgroup>
</header>

<section>
	{% block content %}
	{% endblock %}
</section>

</body>
</html>
